/* progresso seguidores */


.progresso-box{

display:flex;
align-items:center;
gap:10px;

}


.barra{

width:120px;
height:10px;
background:#e5e7eb;
border-radius:20px;
overflow:hidden;

}



.barra div{

height:100%;
background:#2563eb;

}



.porcentagem{

font-size:12px;
font-weight:600;

}



.btn-delete{

background:#dc2626;
padding:8px 12px;
font-size:12px;

}



.btn-delete:hover{

background:#b91c1c;

}
